@media(min-width: 992px) {

    .navbar {
        height: 12vh;
    }

    .navbar h1 {
        font-size: 3.3rem;
    }

    .navbar #share-button {
        display: none;
    }

    h3 {
        font-size: 2.3rem;
    }

    p {
        font-size: 1.7rem;
    }
    
    #search {
        font-size: 1.2rem;
        width: 30vw;
        border: 1px solid black;
    }
    
    #suggestions, #chosen {
        min-height: 50px;
        width: 30vw;
    }
    
    #chosen {
        max-height: 60vh;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 10px;
    } 

    button {
        font-size: 1.2rem;
    }

    button:hover {
        background-color: #9E9EA0;
    }

    button:active {
        background-color: #EBEBED;
    }
}