.navbar {
	background:linear-gradient(to right, rgba(0,255,166,1), rgba(232,255,0,0.8));
}

#prediction_content *, #chosen_symptoms *, #choose_content *{
    text-align: center;
    margin: 0 auto;
}

#search {
    text-align: left;
    width: 30vw;
}

#suggestions, #chosen {
    min-height: 50px;
    width: 30vw;
    background-color: #EBEBED;
    border-radius: 0 0 10px 10px;
}

#chosen {
    border-radius: 10px;
}

table, th, td {
    border: 1px solid #000000;
} 

button {
    background-color: #EBEBED;
    border: 0px;
    /* color: #1E90ff; */
    display: block;
}

button:focus {
    outline: 0px;
}
